<h1>New Message</h1>
<%= form_with model: @message, local: true do |form| %>
  <%= form.label :receiver_id %>
  <%= form.collection_select :receiver_id, User.all, :id, :username %>

  <%= form.label :content %>
  <%= form.text_area :content %>

  <%= form.submit "Send Message" %>
<% end %>
