<h1>New Message</h1>
<%= form_with model: @message, local: true do |form| %>
  <%= form.label :receiver_id %>
  <%= form.collection_select :receiver_id, User.all, :id, :username %>

  <%= form.label :content %>
  <%= form.text_area :content %>

  <div>
    <%= form.label :image, "Attach an Image" %>
    <%= form.file_field :image, accept: "image/*" %>
  </div>

  <%= form.submit "Send Message" %>
<% end %>
