<h1>Pets Available for Adoption</h1>

<%= link_to "Add a New Pet", new_pet_path, class: "btn btn-primary" %> <!-- Add this link -->

<%= form_with(url: pets_path, method: :get, local: true) do %>
  <%= label_tag :location, "Filter by Location" %>
  <%= select_tag :location, options_for_select(Pet::CITIES, params[:location]), include_blank: "All Cities" %>
  <%= submit_tag "Filter" %>
<% end %>

<div class="pets-list">
  <% @pets.each do |pet| %>
    <div class="pet">
      <h2><%= pet.name %></h2>
      <p><%= pet.location %></p>
      <p><%= pet.pet_type %> | <%= pet.breed %></p>
      <%= image_tag pet.image if pet.image.attached? %>
      <%= link_to "Adopt", pet_path(pet) %>
    </div>
  <% end %>
</div>
