<h1>Add a Pet for Adoption</h1>

<%= form_with(model: @pet, local: true) do |form| %>
  <% if @pet.errors.any? %>
    <div class="error_messages">
      <ul>
        <% @pet.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :location %>
    <%= form.select :location, Pet::CITIES %> <!-- Dropdown for location -->
  </div>

  <div>
    <%= form.label :age, "Age" %>
    <%= form.select :age, Pet::AGES %>
  </div>


  <div>
    <%= form.label :pet_type %>
    <%= form.select :pet_type, ['cat', 'dog', 'other'] %>
  </div>

  <div>
    <%= form.label :breed %>
    <%= form.text_field :breed %>
  </div>

  <div>
    <%= form.label :image, "Upload a picture of your pet" %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.submit "Add Pet" %>
  </div>
<% end %>
