<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <title><%= content_for(:title) || "Paddle" %></title>
  <style>

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f0f0f0;
      color: #333;
    }

    .part {
      width: 100%;
      background-color: #00796b;
      color: rgb(0, 0, 0);
      padding: 15px 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      height: 70px;
      box-sizing: border-box;
    }

    .logo {
      flex: 1;
      font-size: 24px;
      font-weight: bold;
      letter-spacing: 2px;
    }

    .search-bar {
      flex: 3;
      justify-content: center;
      height: 100%;
    }

    .search-form {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 800px;
      position: relative;
    }

    .search-input {
      width: 100%;
      padding: 10px 15px;
      border: 1px solid #ddd;
      border-radius: 50px 0 0 50px;
      font-size: 16px;
      outline: none;
    }

    .search-button {
      background-color: #005b4f;
      border: none;
      color: white;
      font-size: 18px;
      padding: 0 15px;
      border-radius: 0 50px 50px 0;
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 0.3s ease;
    }

    .search-button:hover {
      background-color: #004239;
    }

    .search-button:focus {
      outline: none;
    }


    .profile-container {
      width: 80%;
      max-width: 800px;
      margin: 20px auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      margin-top: 35px;
    }

    .profile-picture {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      margin: 0 auto;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .profile-header {
      text-align: center;
      margin-top: 20px;
      font-size: 24px;
      font-weight: bold;
      color: solid black;
    }


    .profile-picture img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .profile-description {
      text-align: center;
      font-size: 16px;
      margin: 20px 0;
    }

    .profile-follow-info p {
      font-size: 14px;
      margin: 5px 0;
      text-align: center;
    }

    .profile-follow-info a {
      color: #007bff;
      text-decoration: none;
    }

    .profile-follow-info a:hover {
      text-decoration: underline;
    }

    .button, .btn-follow, .btn-unfollow, .edit-link, .delete-link {
      display: inline-block;
      padding: 7px 15px;
      font-size: 14px;
      color: #fff;
      background-color: #00796b;
      text-decoration: none;
      border-radius: 5px;
      margin-top: 10px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .button:hover, .btn-follow:hover, .btn-unfollow:hover, .edit-link:hover, .delete-link:hover {
      background-color: #004239;
    }

    .btn-follow {
      background-color: #28a745;
    }

    .btn-unfollow {
      background-color: #dc3545;
    }

    .edit-link {
      background-color: #00796b;
    }

    .delete-link {
      background-color: #00796b;
    }

    .profile-header {
      text-align: center;
      margin-top: 45px;
      margin-bottom: 20px;
      font-size: 20px;
    }

    .posts {
      list-style-type: none;
      padding: 0;
    }

    .post {
      background-color: #fafafa;
      padding: 15px;
      margin-bottom: 10px;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .post-body {
      margin-bottom: 10px;
    }

    .post p {
      font-size: 16px;
      color: #555;
      line-height: 1.5;
      word-wrap: break-word;
      overflow-wrap: break-word;
      max-width: 100%;
      overflow: hidden;
    }

    .post-media img {
      width: 100%;
      border-radius: 5px;
      margin-top: 10px;
    }

    
    @media (max-width: 768px) {
      .profile-container {
        width: 90%;
      }

      .profile-picture {
        width: 100px;
        height: 100px;
      }

      .profile-description {
        font-size: 14px;
      }

      .button, .btn-follow, .btn-unfollow, .edit-link, .delete-link {
        font-size: 12px;
        padding: 8px 16px;
      }
    }

  </style>
</head>
<body>

  <div class="part">
    <div class="logo">
      <%= link_to 'Paddle', root_path, style: 'text-decoration: none; color: white;' %>
    </div>
    <div class="search-bar">
      <%= search_form_for(@query, url: search_path, method: :get, class: 'search-form') do |f| %>
        <%= f.search_field :body_i_cont_any,
          placeholder: "Search...",
          class: "search-input" %>
        <%= f.submit "ðŸ”", class: "search-button" %>
      <% end %>
    </div>
  </div>



  <div class="profile-container">
    <div class="profile-header">
      <h1><%= @user.username %></h1>
    </div>

    <div class="profile-picture">
      <% if @user.profile_picture.attached? %>
        <%= image_tag url_for(@user.profile_picture), class: "profile-picture" %>
      <% else %>
        <p>No profile picture uploaded.</p>
      <% end %>
    </div>

    <div class="profile-description">
      <% if @user.profile_description.present? %>
        <p> <%= @user.profile_description %></p>
      <% else %>
        <p>This user hasn't added a description yet.</p>
      <% end %>
    </div>

    
    <% if current_user == @user %>
      <%= link_to "Edit Profile", edit_profile_path, class: "button" %>
       <p>
        <%= @user.followers_count %>
        <%= link_to 'Followers', followers_user_path(@user.username) %>
      </p>
      <p>
        <%= @user.following_count %>
        <%= link_to 'Following', following_user_path(@user.username) %>
      </p>
    <% else %>
      <p>
        <%= @user.followers_count %>
        <%= link_to 'Followers', followers_user_path(@user.username) %>
      </p>
      <p>
        <%= @user.following_count %>
        <%= link_to 'Following', following_user_path(@user.username) %>
      </p>
      <% if current_user.following?(@user) %>
        <%= button_to 'Unfollow', unfollow_user_path(@user.username), method: :delete, class: "btn-unfollow" %>
      <% else %>
        <%= button_to 'Follow', follow_user_path(@user.username), method: :post, class: "btn-follow" %>
      <% end %>
    <% end %>

    
    <div class="profile-header">
      <h1><%= @user.username %>'s Posts</h1>
      <p>Posts: <%= @user.posts.count %></p>
    </div>

    <% if @user.posts.any? %>
      <ul class="posts">
        <% @user.posts.each do |post| %>
          <li class="post">
            <div class="post-body" id="post-<%= post.id %>">
              <p><%= post.body %></p>
            </div>

            <% if post.media.attached? %>
              <div class="post-media">
                <% post.media.each do |media| %>
                  <%= image_tag(media, alt: "Post Media") if media.content_type.start_with?('image/') %>
                <% end %>
              </div>
            <% end %>
            <% if current_user == @user %>
              <div class="actions">
                <%= link_to 'Edit', edit_post_path(post), class: 'edit-link' %>
                <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure you want to delete this post?' }, class: 'delete-link' %>
              </div>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p><strong>No posts yet. Start creating your first post!</strong></p>
    <% end %>
  </div>
</body>
</html>
